.login {
  padding-bottom: 10px;
  background-color: #eee;

  .logo {
    padding: 10px 0;
  }

  label {
    color: #000;
  }

  .mb-button-item-text {
    visibility: hidden;
  }

  img {
    width: 150px;
  }
}

